.posicion{
    display: inline-block;
    background-color: #ffffff;
    border: 2px solid rgb(3, 3, 3);
    width: 8em; 
    height: 8em;
}
.color{
    display: inline-block;
    background-color: none;
    border: 2px solid rgb(0, 0, 0);
    width: 4em; 
    height: 4em;
    border-radius: 50%;
}

.color-uno {
    display: inline-block;
    background-color: rgb(43, 0, 255);
    border: 2px solid rgb(0, 0, 0);
    width: 4em; 
    height: 4em;
    border-radius: 50%;
}
.color-dos {
    display: inline-block;
    background-color: green;
    border: 2px solid rgb(0, 0, 0);
    width: 4em; 
    height: 4em;
    border-radius: 50%;
}
.color-tres {
    display: inline-block;
    background-color: blue;
    border: 2px solid rgb(0, 0, 0);
    width: 4em; 
    height: 4em;
    border-radius: 50%;
}
.color-cuatro {
    display: inline-block;
    background-color: yellow;
    border: 2px solid rgb(0, 0, 0);
    width: 4em; 
    height: 4em;
    border-radius: 50%;
}
.color-cinco {
    display: inline-block;
    background-color: orange;
    border: 2px solid rgb(0, 0, 0);
    width: 4em; 
    height: 4em;
    border-radius: 50%;
}