body {
    display: flex;
    justify-content: center;
    background-color: black;
    margin: 0;
}
.container-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.tablero-principal {
   
 display: flex;   
 flex-direction: column;
 
    
}
.imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
}
img {
    
    width: 10em;
   
}
.texto {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 1em;
}
.juego {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    border-radius: 50%;
    margin-top: 1em;
    
   
}
.contenedor-intentos{
    display: flex;
    
    border-color: 3px solid black;
    
    border: 2px solid rgb(88, 87, 87);
    border-radius: 20px;
    animation-name: sombra;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    
}

@keyframes sombra{
    0%{
        filter: drop-shadow(5px 3px 3px rgb(240, 51, 51));
    }
    25%{
        filter: drop-shadow(5px 3px 3px rgb(193, 35, 232));
    }
    50%{
        filter: drop-shadow(5px 3px 3px rgb(234, 240, 51));
    }
    75%{
        filter: drop-shadow(5px 3px 3px rgb(58, 232, 35));
    }
    100%{
        filter: drop-shadow(5px 3px 3px rgb(77, 132, 249));
    }
}
.tablero-principal .intento {
    display: flex;
    justify-content: center;
    width: 4em;
    height: 4em;
    border: 1px solid rgb(60, 60, 60);
    border-radius: 50%;
    margin-top: 2em;
    margin: 0.3em;
    animation-name: sombra;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    
    
}
@media (max-width: 500px) {
    .tablero-principal .intento {
        width: 2.5em;
        height: 2.5em;
        margin: 0.1em;
    }
}

@keyframes sombra{
    0%{
        filter: drop-shadow(5px 3px 3px rgb(240, 51, 51));
    }
    25%{
        filter: drop-shadow(5px 3px 3px rgb(193, 35, 232));
    }
    50%{
        filter: drop-shadow(5px 3px 3px rgb(234, 240, 51));
    }
    75%{
        filter: drop-shadow(5px 3px 3px rgb(58, 232, 35));
    }
    100%{
        filter: drop-shadow(5px 3px 3px rgb(77, 132, 249));
    }
}
.tablero-aciertos{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    
    
}
.tablero-aciertos .intento {
    display: flex;
    justify-content: center;
    border: 1px solid rgb(68, 67, 67);
    width: 1em;
    height: 1em;
    
    border-radius: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-name: sombra;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    
}

@keyframes sombra{
    0%{
        filter: drop-shadow(5px 3px 3px rgb(240, 51, 51));
    }
    25%{
        filter: drop-shadow(5px 3px 3px rgb(193, 35, 232));
    }
    50%{
        filter: drop-shadow(5px 3px 3px rgb(234, 240, 51));
    }
    75%{
        filter: drop-shadow(5px 3px 3px rgb(58, 232, 35));
    }
    100%{
        filter: drop-shadow(5px 3px 3px rgb(77, 132, 249));
    }
}
.contenedor-colores{
    display: flex;
    margin-top: 1em;
}
.contenedor-colores .intento{
    
    justify-content: center;
    width: 3.5em;
    height: 3.5em;
    border: 1px solid rgb(60, 60, 60);
    border-radius: 15px;
    margin-top: 2em;
    margin: 0.3em;
}

.posicion{
    display: inline-block;
    background-color: #ffffff;
    border: 2px solid rgb(3, 3, 3);
    width: 8em; 
    height: 8em;
}


.contenedor-intentos0{
    display: flex;
    position: relative;
    top: 1em;
}
.contenedor-intentos1{
    display: flex;
    position: relative;
    top: 0.6em;
}
.contenedor-intentos2{
    display: flex;
    position: relative;
    top: 0.4em;
}
.contenedor-intentos3{
    display: flex;
    position: relative;
    top: 0.4em;
}
.contenedor-intentos4{
    display: flex;
    position: relative;
    top: 0.2em;
}
.contenedor-intentos5{
    display: flex;
    position: relative;
    top: 0em;
}
.contenedor-intentos6{
    display: flex;
    position: relative;
    top: -0.3em;
}
.contenedor-intentos7{
    display: flex;
    position: relative;
    top: -0.4em;
}
.contenedor-intentos8{
    display: flex;
    position: relative;
    top: -0.7em;
}
.contenedor-intentos9{
    display: flex;
    position: relative;
    top: -0.8em;
}